.App {
  text-align: center;
}

.App-header {
  background-color: #2b4483;
  padding: 1px;
  color: yellow;
}

.App-teams {
  font-size: large;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.App-team {
  border: solid;
  border-radius: 10px;
  border-color: #2b4483;
  padding: 10px;
  width: 150px;
  font-size: 1.3em;
}

.App-team-active {
  background-color: #2b4483;
  color: white;
}

.App-questions {
  margin: 10px;
  height: 490px;
  overflow-y: auto;
}

.App-question {
  margin: 20px;
  padding: 20px;
  height: 425px;
  border: double;
  border-radius: 10px;
  border-color: #2b4483;
}

.App-question-answered {
  background-color: lightgray;
}

.App-choices {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 5px;
}

.App-choice {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 10px;
  width: 50%;
  flex-basis: calc(50% - 20px);
}

.App-choice-correct {
  background-color: green;
  color: white;
}

.App-choice-incorrect {
  background-color: red;
  color: white;
}

.App-next-button {
  font-size: 2em;
  border-radius: 10px;
  background-color: #2b4483;
  color: white;
  padding: 20px;
}

.blink {
  animation-name: blink-animation;
  animation-duration: 1.5s ;
  animation-timing-function: steps(5, start);
  animation-iteration-count: 3;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.App-factoid {
  margin-top: 5px;
  font-size: 1.7em;
}